@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 900;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

.heading {
	width: 100%;
	margin: 0.1rem 0;
	align-items: center;
	display: flex;
	text-align: center;
	word-spacing: 0.5rem;
}

.heading h1 {
	width: 100%;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 600;
}

.container {
	margin: 2px 0 30px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	width: 100%;
	z-index: 1;
}

.container-chart {
	width: 100%;
	height: 100%;
}

.week-group {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-tray {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: auto;
	max-width: 95%;
}

.week-group .myChart {
	padding: 1rem 0;
	border-right: 1px solid black;
	max-width: 100%;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.checkboxes {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 0;
	display: none;
	border: 1px solid #ccc;
	border-top: 0;
	z-index: 2;
}

.checkboxes label {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	gap: 0.2em;
	width: 100%;
	user-select: none;
	border-bottom: 1px solid #555;
	padding: 5px 5px;
}

label:last-child {
	border-bottom: 0;
}

input[type='checkbox'] {
	width: 20px;
}

.inner-wrap {
	white-space: nowrap;
	overflow: auto;
	max-height: 200px;
	padding: 5px 0 0px 0;
	background-color: #fff;
	border: 1px solid #ccc;
}

.active {
	display: block;
}

.btn {
	width: 100%;
	height: 100%;
	font-size: 1rem;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.submit-btn {
	background: #4285f4;
	color: white;
}
.reset-btn {
	background: #f44336;
	color: white;
}
.download-btn {
	width: 10%;
	float: right;
	/* position: fixed; */
	margin-bottom: 0.3rem;
	display: none;
}

.download-btn:hover {
	background-color: #ccc;
	color: #fff;
}

.tables {
	margin: 10px 0;
	width: 90%;
	/* height: 60vh; */
	overflow: auto;
}

.tables .table {
	width: 100%;
}

.tables .table {
	table-layout: auto;
	border-collapse: collapse;
}

.tables .table td,
.tables .table th {
	white-space: nowrap;
	border: 0.1px solid #ddd;
	padding: 0.1rem 0.6rem;
	font-size: 0.7rem;
}

.tables .table th {
	font-family: 'Merriweather Sans', sans-serif;
	padding: 0.5rem 1rem;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #666;
}
